* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}


/************Join-Beta-Pop-up************/
.hide-overflow {
  overflow-y: hidden;
}
/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 9999;
}

.modal-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin: auto;
  padding: 130px 192px; 
  background: #ffffff;
  border-radius: 20px;
}

.closeModal {
  cursor: pointer;
  display: none;
}

.closeModal:hover {
  color: #000;
}

.p-logo {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.p-content {
  text-align: center;
}

.p-content p {
  color: #7A869A;
  margin-bottom: 40px;
}

.p-content h1 {
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  color: #344563;
  padding-bottom: 10px;
}

.sub {
  display: flex;
  justify-content: center;
}

input {
  background: #F4F5F7;
  border-radius: 3px 0px 0px 3px;
  padding: 7px 128px 8px 20px;
  border: none;
  outline: none;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.sub-btn {
  background: #E266ED;
  border-radius: 0px 3px 3px 0px;
  padding: 7px 16px 8px;
  color: #FFFFFF;
  text-decoration: none;
}
@media screen and (max-width: 1350px){
  .modal-box {
      padding: 80px 82px;
  }
}
@media screen and (max-width: 767px){
  .modal-box {
      padding: 45px 10px;
      border-radius: 10px;
  }
  .modal-box{
      width: 80%;
  }
  .p-logo {
      margin-bottom: 50px;
  }    
  
  .p-content h1 {
      font-size: 18px;
      padding-bottom: 0px;
  }
  .line-break{
      display: none;
  }
  input {
      width: 70%;
      padding: 12px 0px 12px 10px;
      font-size: 14px;
      line-height: 18px;
  }
  
  .sub-btn {
      padding: 12px 10px;
  }
  .sub-btn a{
      font-size: 14px;
  }
}
/**********************/

#hero {
  height: 100vh;
  background-image: url(../partner-images/partnership-top.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
/**********navbar************/

.container-nav {
  width: 100%;
}
.nav_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0px;
  height: 124px;
}

.nav_links ul {
  margin: 0px;
}
.nav_links ul {
  margin: 0px;
  margin-top: -15px;
}

.nav_links ul li {
  display: inline-block;
  padding-right: 30px;
}

.nav_links li a {
  text-decoration: none;
  color: #ffffff;
  line-height: 25px;
}

.nav-cart {
  display: inline;
}
.nav-cart img {
  margin-bottom: -15px;
}

.mobile-cart {
  display: inline;
}

.mobile-cart {
  display: none;
}

.ham-icon {
  display: none;
}

.close-ham {
  display: none;
}

/**************************************/
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 34px 88px 0 88px;
}
.nav-links li {
  display: inline-block;
  padding-right: 30px;
}
.nav-links li a {
  text-decoration: none;
  color: #ffffff;
  line-height: 25px;
}
.join-btn a {
  padding: 8px 25px;
  color: #e266ed !important;
  background-color: #ffffff;
  border-radius: 5px;
}

hr {
  border-top: 1px solid #f3f3f4;
  margin: 98px 88px 0 88px;
}
/**********partner************/
#partner {
  padding: 80px 0 70px 0;
  box-shadow: 0px 6px 10px rgba(73, 33, 77, 0.1);
  border-radius: 20px;
  background: #ffffff;
  width: 600px;
  margin: 0 auto;
  margin-top: -400px !important;
}
#partner h3 {
  font-weight: bold;
  font-size: 25px;
  line-height: 37px;
  text-align: center;
  color: #49214d;
  margin-bottom: 5px;
}
#partner p {
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #49214d;
  margin-bottom: 50px;
}
.partner-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.partner-form label,
.partner-form input {
  display: block !important;
}

.partner-form label {
  padding-bottom: 10px;
  color: #49214d;
}

.partner-form input {
  width: 440px;
  outline: none;
  border: 1.5px solid #49214d33;
  border-radius: 5px;
  margin-bottom: 20px !important;
  padding: 17px 20px;
}

.partner-form input::placeholder {
  color: #49214d;
  font-size: 16px;
}

.partner-form .description {
  padding: 17px 20px 117px 20px !important;
}
.partner-submit-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.partner-submit-btn a {
  width: 440px;
  text-decoration: none;
  text-align: center;
  padding: 15px 20px 15px 20px;
  background: #f882bf;
  color: #ffffff;
  border-radius: 6px;
  margin-top: 50px;
}
/**********footer************/
#footer {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  justify-content: space-between;
  padding: 110px 88px 88px 88px;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: 0.018em;
}
#footer ul {
  list-style: none;
}
#footer ul li {
  margin-bottom: 22px;
}
#footer a {
  text-decoration: none;
  color: #a98fa5;
}
.footer-head {
  font-weight: 500;
  color: #49214d !important;
  margin-bottom: 40px;
}
/**********copyrights************/
#copyright {
  background: #fdf7fc;
  padding: 39px 0 42px 88px;
}
.copyright-main {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
#copyright a {
  text-decoration: none;
  color: #49214d;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  margin-right: 40px;
}
#copyright p {
  color: #49214d;
  opacity: 0.5;
  font-size: 20px;
  line-height: 29px;
  margin: 0;
}
@media screen and (min-width: 1600px) {
  .container-main {
    width: 85%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1920px) {
  .container-main {
    width: 70%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 767px) {
  /*************Main Container**************/
  .container-main {
    width: 90%;
    margin: 0 auto;
  }
  hr {
    margin: 100px 0 0 0;
  }
  /**********partner************/
  #partner {
    padding: 40px 0;
    border-radius: 20px;
    width: 90%;
    margin: 0 auto;
    margin-top: -250px !important;
  }
  #partner h3 {
    font-size: 14px;
    line-height: 16px;
  }
  #partner p {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 25px;
  }
  .partner-form label,
  .partner-form input {
    font-size: 12px;
    display: block !important;
  }

  .partner-form label {
    padding-bottom: 10px;
  }

  .partner-form input {
    width: 70vw !important;
    margin-bottom: 20px !important;
    padding: 12px 15px;
  }

  .partner-form input::placeholder {
    color: #49214d;
    font-size: 12px;
  }

  .partner-submit-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .partner-submit-btn a {
    width: 70vw;
    padding: 8px 10px 8px 10px;
    margin-top: 15px;
  }

  /**************footer***************/
  #footer {
    grid-template-columns: auto auto;
    grid-row-gap: 15px;
    justify-content: space-between;
    padding: 40px 20px 18px 0px;
  }
  #footer ul li {
    margin-bottom: 10px;
    font-size: 14px;
  }
  .footer-head {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 12px;
  }
  /**************Copyrights***************/
  #copyright {
    padding: 10px 0;
  }
  #copyright a {
    font-size: 14px;
    margin-right: 20px;
  }
  #copyright p {
    font-size: 12px;
    margin: 0;
  }
}
@media screen and (max-width: 1350px) {

  /*************Hero****************/
  #hero {
    height: 70vh;
  }
  /*************Navbar**************/
  .nav_bar {
    height: 110px;
  }

  .brand__logo {
    width: 132px;
    display: inline;
  }

  .nav_links {
    display: none;
    position: absolute;
    top: 110px;
    left: 0%;
    background: linear-gradient(110.92deg, #ca5cd4 0%, #612966 106.26%);
    height: calc(100vh - 110px);
    width: 100vw;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }

  .nav_links ul {
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 100px);
  }

  .nav_links li {
    display: block !important;
    padding-right: 0px !important;
    padding-bottom: 40px;
    text-align: center;
  }

  .nav-cart {
    display: none;
  }

  .join-btn {
    margin: 0px !important;
    padding: 0px !important;
  }

  .mobile-cart {
    display: block;
    cursor: pointer;
  }

  .mobile-cart img {
    width: 24px;
  }

  .hero-section h1 {
    font-size: 30px;
    line-height: 40px;
    margin-top: -150px;
  }

  /* Classes for Hamburger menu */

  .show-nav {
    display: block;
    z-index: 999;
  }

  .ham-icon {
    display: inline;
    padding-right: 22px;
    cursor: pointer;
  }

  .close-ham-icon {
    display: inline;
    padding-right: 22px;
    cursor: pointer;
  }

  .remove-ham-icon {
    display: none;
  }
  /****************Copyright*************/
  #copyright a{
    display: none;
  }
  #copyright span{
    text-decoration: underline;
    cursor: pointer;
  }
}
@media screen and (min-width: 1365px) and (max-width: 1919px) {
  .container-nav {
    width: 88%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1350px) {
  /*************Main Container**************/
  .container-main {
    width: 85%;
    margin: 0 auto;
  }

  hr {
    margin: 150px 0 0 0;
  }
  /**********partner************/
  #partner {
    width: 85vw;
    margin-top: -60% !important;
  }

  .partner-form input {
    width: 70vw !important;
  }
  .partner-submit-btn a {
    width: 70vw;
  }
  /**************footer***************/
  #footer {
    grid-template-columns: auto auto auto;
    padding: 80px 0 58px 0;
    grid-row-gap: 2em;
  }
  #footer ul li {
    margin-bottom: 10px;
    /* font-size: 12px; */
  }
  .footer-head {
    /* font-size: 12px; */
    margin-bottom: 22px;
  }
  /**************Copyrights***************/
  #copyright {
    padding: 20px 0;
  }
}
